<div fullscreen>
  <h1>Add Listing</h1>
  <div>
    <p>
      <label for="listing_id">Listing ID</label>
      <input type="text" id="listing_id" name="listing_id" formControlName="listing_id">
    </p>
    <p>
      <label for="listing_title"> Title </label>
      <input type="text" id="listing_title" name="listing_title" formControlName="listing_title" >
    </p>
    <p>
      <label for="description">Description </label>
      <input type="text" id="description" name="description" formControlName="description">
    </p>
    <p>
      <label for="street">Street</label>
      <input type="text" id="street" name="street" formControlName="street"> 
    </p>
    <p>
      <label for="city">City </label>
      <input type="text" id="city" name="city" formControlName="city">
    </p>
    <p>
      <label for="postal_code">Postal Code </label>
      <input type="text" id="postal_code" name="postal_code" formControlName="postal_code">
    </p>
    <p>
      <label for="price">Price</label>
      <input type="text" id="price" name="price" formControlName="price">
    </p>
    <p>
      <button type="submit">Add Listing</button>
    </p>
  </form>
  
</div>