<p>Book Here </p>
<h1>Welcome</h1>

<div>
    <p>
        <label for="booking_id">Booking ID</label>
        <input type="text" id="booking_id" name="booking_id" formControlName="booking_id">
    </p>
    <p>
        <label for="booking_start">Booking Start Date </label>
        <input type="date" id="booking_start_date" name="booking_start_date" formControlName="booking_start" >
    </p>
    <p>
        <label for="booking_end">Booking End Date </label>
        <input type="date" id="booking_end_date" name="booking_end_date" formControlName="booking_end">
    </p>
    <p>
        <button type="submit">Book Now</button>
    </p>
    </form>
    
</div>